@use "./partials/variables" as *;

body {
  background-color: $bg-1;
  min-height: 4rem;
}
.container {
  background-color: $bg-2;
}
header {
  background-color: $bg-2;
}
.name {
  color: $color-name;
}
.type {
  color: $color-type;
}
